body {
  padding: 0 20px;
  font-family: "Rubik", sans-serif;
  background-color: rgb(150, 105, 248);
  color: #ffffff;
  text-align: center;
}

h1 {
  font-weight: 700;
  margin: 0;
  font-size: 34px;
  color: #ffffff;
  text-align: center;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
  font-size: 16px;
}

form {
  margin: 20px 0;
  width: 100%;
  text-align: center;
}

.weather-now {
  font-size: 50px;
  text-align: center;
}

.icon-weather-now {
  width: 200px;
}

.weather-next-days {
  text-align: center;
}

.box-day {
  border: 1px solid #ffffff;
  display: block;
  margin: 0 auto;
  padding: 16px 24px;
}

.units {
  position: relative;
  top: -25px;
}

a {
  text-decoration: none;
  color: white;
}
