body {
  font-family: "Rubik", sans-serif;
  background-color: #e9dffa;
  color: #383838;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  margin-top: 50px !important;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

h3 {
  font-size: 12px;
  font-weight: 350;
  line-height: 14px;
}

.weather-box {
  max-width: 800px;
  margin: 100px auto;
  padding: 50px 40px 20px 40px;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.search {
  margin: 20px 0;
  text-align: left;
}

.search-button {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 20px;
  color: #f9f7fe;
  border: none;
  border-radius: 3px;
}

.field {
  background: #f9f7fe;
  border: none;
  border-radius: 3px;
  color: rgba(39, 33, 66, 0.4);
  display: inline-block;
  font-size: 16px;
  height: 50px;
  padding: 15px 20px;
  width: 60%;
}

.title-city-date {
  text-align: left;
}

.weather-now {
  font-size: 70px;
  text-align: left;
}

.units {
  position: relative;
  top: -25px;
  text-decoration: none;
}

.weather-details {
  padding: 0;
  margin-top: 20px;
}

.units .active {
  color: #251648;
  font-weight: bold;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.icon-weather-now {
  width: 120px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #383838;
}

.weather-forecast-date {
  font-size: 16px;
  font-weight: 500;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 14px;
}

.signature {
  font-size: 15px;
  text-align: center;
  margin-top: 50px;
}
